body{background-color: rgb(60, 107, 107);}
h1{text-align: center;}
h1{color: aliceblue;}
h1{border-style: ridge;}
 #jesus {width: 40%;}
 h1{border-width: 5px;}
#jesus{margin-left: 30%;}


h2{text-align: center;}
h2{color: aliceblue;}
h2{border-style: ridge;}
 #mae {width: 40%;}
 h2{border-width: 5px;}
#mae {margin-left: 30%;}